body {
    margin: 0;
    padding: 0;
    background-color: #1F1F1F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

h1,
h2 {
    font-weight: 200;
}

.main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container {
    height: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#mainHeader {
    transition: all .1s ease;
}

.container {
    /* background-color: brown; */
    box-sizing: border-box;
    border-radius: 8px;
    border: 2px solid #3c4147;
    width: 500px;
    display: flex;
    flex-direction: column;
    border-bottom-width: 7px;
}

.container h1,
h2 {
    font-size: 20px;
}

#opponentHeader {
    transition: all .3s cubic-bezier(.53,.24,.2,1.77);
}

.button-container,
.opponent-container {
    box-sizing: border-box;
    border: 2px solid #3c4147;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    margin-bottom: 20px;
    background-color: transparent;
    border-radius: 8px;
    margin-inline: 50px;
    gap: 20px;
    max-width: 500px;
    border-bottom-width: 7px;
}

.opponent-container {
    justify-content: center;
    padding-block: 50px;
}

.go {
    align-self: center;
    border: 2px solid white;
    border-radius: 8px;
    height: 40px;
    transition: all .1s ease-out;
    background-color: transparent;
    color: white;
    padding-inline: 50px;
    margin-bottom: 15px;
    border-bottom-width: 7px;
    display: block;
}

.go:hover {
    padding-inline: 100px;
    font-size: 20px;
    border-color: #4664ea;
    color: #4664ea;
}

.button-container button,
.opponent-container div {
    flex: 1 1 0px;
    border-radius: 8px;
    height: 70px;
    font-size: 10px;
    background-color: transparent;
    transition: all .15s ease-out;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px solid white;
    border-bottom-width: 7px;
    color: white;
}

.opponent-container div {
    border-bottom-width: 2px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-interact:hover {
    border-color: #374eb9;
    color: #4664ea;
    font-size: 20px;
    flex-shrink: 0;
    flex-grow: 3;
}

.header-container {
    margin-inline: 50px;
    display: flex;
    justify-content: space-between;
}

.line {
    /* margin-top: 10px; */
    height: 0px;
    /* background-color: rebeccapurple; */
    border-bottom: 2px solid #3c4147;
}

.button-interact:active {
    height: 67px;
    border: 2px solid #374eb9;
    margin-top: 3px;
    color: #374eb9;
}

.go:active {
    height: 37px;
    margin-top: 3px;
}

.button-container .current {
    height: 67px;
    border: 2px solid #374eb9;
    margin-top: 3px;
    color: #374eb9;
}

.current {
    height: 37px;
    border: 2px solid #374eb9;
    margin-top: 3px;
    color: #374eb9;
}

.disabled {
    font-size: 0px;
    border: none;
    display: none;
}

.button-container .disabled {
    font-size: 0px;
    height: 0px;
    border: none;
    display: none;
}

.button-container .selected {
    font-size: 20px;
    border-bottom-width: 2px;
}

.score-container {
    /* background-color: red; */
    width: 100px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.score-marker {
    display: inline-block;
    background-color: transparent;
    border: 3px solid #3c4147;
    box-sizing: border-box;
    height: 20px;
    width: 20px;
    flex: 0 0 20px;
    border-radius: 30px;
}

.scored {
    background-color: white;
}